<!DOCTYPE...>
<html smlns=...>
  <head>
    <title> Exemplo de CSS <\title>
    <style>
      p { style="color: white;
         background-color: green;
         teste-align: center;
         font-family: Arial Narrow;
         font-size: 15 pt;
         font-weight: bold;
        }
    <\style>
  <\head>
  <body>
    <p> 
         Paralelepípedo Maioral.
    <\p>
  <\body>
<\html>
