body {
  background-image: url(PROTETOR DE TELA COMPUTADOR2.jpg);
  backgroud-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
p {
  color: green;
  text-align: left;
}

h3 {
  color: black;
  font-family: Arial Narrow;
}

h4 {
  font-size: 15 pt;
  font-weight: bold;
}
